extends ../../../../app/views/layout-react

block entrypointVar
	- entrypoint = 'modules/admin-user-stats/pages/admin-user-stats-page'

block content
	#main-content.content.content-alt
		.container
			#admin-user-stats-root
