volumes:
  clsi-cache:
  filestore-public-files:
  filestore-template-files:
  filestore-uploads:
  filestore-user-files:
  sharelatex-data:
  web-data:
  history-v1-buckets:

services:
  chat:
    build:
      context: ..
      dockerfile: services/chat/Dockerfile
    env_file:
      - dev.env

  clsi:
    build:
      context: ..
      dockerfile: services/clsi/Dockerfile
      network: host
    env_file:
      - dev.env
    environment:
      - TEXLIVE_IMAGE=texlive-full # docker build texlive -t texlive-full
      - SANDBOXED_COMPILES=true
      - SANDBOXED_COMPILES_HOST_DIR_COMPILES=/home/ubuntu/overleaf-artishow/develop/compiles
      - SANDBOXED_COMPILES_HOST_DIR_OUTPUT=/home/ubuntu/overleaf-artishow/develop/output
    user: root
    volumes:
      - /home/ubuntu/overleaf-artishow/develop/compiles:/overleaf/services/clsi/compiles
      - /home/ubuntu/overleaf-artishow/develop/output:/overleaf/services/clsi/output
      - /var/run/docker.sock:/var/run/docker.sock
      - clsi-cache:/overleaf/services/clsi/cache

  contacts:
    build:
      context: ..
      dockerfile: services/contacts/Dockerfile
      network: host
    env_file:
      - dev.env

  docstore:
    build:
      context: ..
      dockerfile: services/docstore/Dockerfile
      network: host
    env_file:
      - dev.env

  document-updater:
    build:
      context: ..
      dockerfile: services/document-updater/Dockerfile
      network: host
    env_file:
      - dev.env

  filestore:
    build:
      context: ..
      dockerfile: services/filestore/Dockerfile
      network: host
    env_file:
      - dev.env
#    environment:
#      - ENABLE_CONVERSIONS=true
    volumes:
      - filestore-public-files:/overleaf/services/filestore/public_files
      - filestore-template-files:/overleaf/services/filestore/template_files
      - filestore-uploads:/overleaf/services/filestore/uploads
      - filestore-user-files:/overleaf/services/filestore/user_files

  history-v1:
    build:
      context: ..
      dockerfile: services/history-v1/Dockerfile
      network: host
    env_file:
        - dev.env
    environment:
      OVERLEAF_EDITOR_ANALYTICS_BUCKET: "/buckets/analytics"
      OVERLEAF_EDITOR_BLOBS_BUCKET: "/buckets/blobs"
      OVERLEAF_EDITOR_CHUNKS_BUCKET: "/buckets/chunks"
      OVERLEAF_EDITOR_PROJECT_BLOBS_BUCKET: "/buckets/project_blobs"
      OVERLEAF_EDITOR_ZIPS_BUCKET: "/buckets/zips"
      PERSISTOR_BACKEND: fs
    volumes:
        - history-v1-buckets:/buckets

  notifications:
    build:
      context: ..
      dockerfile: services/notifications/Dockerfile
      network: host
    env_file:
      - dev.env

  project-history:
    build:
      context: ..
      dockerfile: services/project-history/Dockerfile
      network: host
    env_file:
        - dev.env

  real-time:
    build:
      context: ..
      dockerfile: services/real-time/Dockerfile
      network: host
    env_file:
      - dev.env

  references:
    build:
      context: ..
      dockerfile: services/references/Dockerfile
      network: host
    env_file:
      - dev.env

  web:
    build:
      context: ..
      dockerfile: services/web/Dockerfile
      network: host
      target: dev
    env_file:
      - dev.env
    environment:
      - APP_NAME=Overleaf Community Edition
      - ENABLED_LINKED_FILE_TYPES=project_file,project_output_file
      - EMAIL_CONFIRMATION_DISABLED=true
      - NODE_ENV=development
      - OVERLEAF_ALLOW_PUBLIC_ACCESS=true
    command: ["node", "app.mjs"]
    volumes:
      - ./data:/var/lib/overleaf/data
      - sharelatex-data:/var/lib/overleaf
      - web-data:/overleaf/services/web/data
    depends_on:
      - chat
      - clsi
      - contacts
      - docstore
      - document-updater
      - filestore
      - history-v1
      - notifications
      - project-history
      - real-time
      - references

  webpack:
    build:
      context: ..
      dockerfile: services/web/Dockerfile
      target: webpack
    command: ["npx", "webpack", "serve", "--config", "webpack.config.dev-env.js"]
    ports:
      - "0.0.0.0:80:3808"
    volumes:
      - ./webpack.config.dev-env.js:/overleaf/services/web/webpack.config.dev-env.js
